@model IEnumerable<OdeToFood.Models.Restaurant>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>

        @foreach (var resto in Model)
        {
        <tr>
            <td>@resto.Id</td>
            <td>@resto.Name</td>
        </tr>
        }
    </table>

</body>
</html>
